.bg-texture {
    box-shadow:inset 4px 4px 10px rgba(0,0,0,0.3);
    background-image:url('noise-texture.png');
}

.no-bg {
    background:none;
}

.no-border {
    border:none;
}

.cover-labels label {
    font-size:larger;
}
.cover-labels label:first-child {
    font-weight:bold;
}

revealer.sidebar > * {
    background-color:alpha(@theme_bg_color, 0.8);
    box-shadow:0 0 10px @theme_bg_color;
    margin-left:20px
}

revealer.sidebar scale mark indicator {
    margin-right:5px;
}

actionbar {
    background-color:@theme_unfocused_bg_color;
}

/* Icon View in regular mode */
iconview.view:selected,
iconview.view:selected:focus {
    background-color:@theme_selected_bg_color;
}
iconview.view:hover {
    -gtk-icon-effect:highlight;
}

/* Icon View in selection mode */
iconview.view.selection {
    -gtk-icon-effect:dim;
}
iconview.view.selection:selected,
iconview.view.selection:selected:focus {
    background-color:@theme_selected_bg_color;
    -gtk-icon-effect:highlight;
}
iconview.view.selection:hover {
    -gtk-icon-effect:none;
}
